body{background-color: #d38473;}
table{background-color: #e0a45f;}
h3.colorRojo
{
	color:red;
}
i.colorAzul
{
	color:blue;
}
html{border:1px solid;}
body{border:3px }
.center{
	border:1px dotted;
	text-align:center;
	margin:10px;
}
#tamano{
	font-size: 30px;
}
.cursiva{
	font-style:italic;
}
.negrita{
	font.weight:bold;
}